@font-face {
	font-family: 'Spirax';
	src: url('/storage/fonts/Spirax-Regular.ttf');
}
@font-face {
	font-family: 'Press Start 2P';
	src: url('/storage/fonts/PressStart2P-Regular.ttf');
}
@font-face{
    font-family: "Eater";
    src: url("/storage/fonts/Eater-Regular.ttf");
}