.red {
	background: red;
}
.blue {
	background: blue;
}
.green {
	background: green;
}
.Spirax {
	font-family: 'Spirax';
}
.PressStart2P {
	font-family: 'Press Start 2P';
}
.Eater {
	font-family: 'Eater';
}