.red {
	background: red;
}
.blue {
	background: blue;
}
.green {
	background: green;
}
/*.spirax {
	font-family: 'Spirax';
}
.pressstart2p {
	font-family: 'Press Start 2P';
}
.eater {
	font-family: 'Eater';
}*/